#### 2.1 Assignment Statements

In [4]:
message = 'Estos romanos estan majaretas.'
n = 17
pi = 3.14

Variable names can't start with a number, they can (but shouldn't) start with or contain upper case, and _ is allowed.

In [8]:
76variable = 3

SyntaxError: invalid syntax (<ipython-input-8-6b1511ba9822>, line 1)

In [9]:
mon@ = 3

SyntaxError: invalid syntax (<ipython-input-9-d1fd4dd955af>, line 1)

In [10]:
class = 'hola'

SyntaxError: invalid syntax (<ipython-input-10-5f8993154490>, line 1)

In [11]:
Camello = 'hello'
v_1 = 3.234
_v2 = 'test'

**If a character or string changes colour on interpreter, it means it's a keyword and is reserved for Python.**

#### 2.2 Expressions and Statements

In [14]:
print(42)
print(n)
print(n + 25)

42
17
42

In [15]:
n = 17
print(n)

17

In [16]:
5
x = 5
x + 1

6

#### 2.3 String Operations

In [17]:
'2' - '1'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
'eggs' / 'easy'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [19]:
'three times' * 'an idiot'

TypeError: can't multiply sequence by non-int of type 'str'

String concatenation.

In [20]:
'hola' + 'Obelix'

'holaObelix'

In [21]:
x = 'hola'
y = 'asterix'
y + x

'asterixhola'

In [22]:
'one' * 5

'oneoneoneoneone'

In [24]:
'hola' * 0

''

In [25]:
'hola' * -2

''

#### 2.4 Comment

In [26]:
# number symbol for commenting.
# works above
x = 5 # or as part of an expression

#### Exercises

1.1 What happens with 42 = n?

In [27]:
42 = n

SyntaxError: can't assign to literal (<ipython-input-27-f0c37ed646fc>, line 1)

1.2 What about x = y = 1?

In [28]:
x = y = 1

1.3 What happens if you put a ; at the end of a sentence? What about a .?

In [33]:
y = 4;
x = 5.
print(x)

5.0

In [34]:
x = 'hola'.

SyntaxError: invalid syntax (<ipython-input-34-73788849d802>, line 1)

1.4 What happens if you attempt to multiply two variables with math notation xy?

In [35]:
x = 1
y = 2
xy

NameError: name 'xy' is not defined

2.1 The volume of a sphere with radius r is (4/3)pi * r^3 . What is the volume of a sphere with radius 5?

In [38]:
r = 5
4/3 * pi * r ** 3

523.3333333333334

2.2  Suppose the cover price of a book is \$24.95, but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [42]:
price = 24.95
discount = 0.4
shipping_1 = 3
shipping_x = 0.75
copies = 60

(price * (1 - discount) * copies) + (copies - 1) * shipping_x + shipping_1

945.4499999999999

2.3 If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles attempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [49]:
miles_1 = 2
pace_1 = (8 * 60) + 15 # seconds per mile
miles_2 = 3
pace_2 = (8 * 60) + 12

time_run = (miles_1 * pace_1 + miles_2 * pace_2)/60 # time run in minutes

t0 = 6 + 52/60
t1 = (time_run)/60 + t0 

print(t1)

7.551666666666668